    @import url('https://fonts.googleapis.com/css2?family=Merienda&family=Nunito:wght@200;300;400;500;600&display=swap');
    * {
        font-family: 'Nunito', sans-serif;
        margin: 0;
        padding: 0;
        list-style: none;
        text-decoration: none;
        text-transform: capitalize;
        transition: all .2s linear;
        box-sizing: border-box;
    }
    
    html {
        font-size: 62.5%;
        scroll-behavior: smooth;
        scroll-padding-top: 6rem;
        overflow-x: hidden;
    }
    
    section {
        padding: 1.5rem 2rem;
        width: 1200px;
        margin: 0 auto;
    }
    
     :root {
        --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        --border: .2rem solid #e9dbdb;
        --main-color: rgb(243, 10, 10);
    }
    
    .btn {
        font-size: 2.5rem;
        padding: .2rem 1.5rem;
        margin: 1rem 0;
        background-color: var(--main-color);
        color: #fff;
        border-color: red;
        cursor: pointer;
    }
    
    .btn:hover {
        background-color: #5e5959;
        border-color: transparent;
    }
    /*-----------header section start-------------*/
    
    .header .flex {
        display: flex;
        padding: 0;
    }
    
    .header .flex .logo {
        background-color: rgb(243, 10, 10);
        padding: 4rem 3rem;
        margin-right: 1rem;
    }
    
    .header .flex .row {
        padding: 1rem 0;
        margin: 0;
        width: 100%;
    }
    
    .header .flex .row .box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: .1rem solid #e9dbdb;
        padding: 1rem 0;
    }
    
    .header .flex .row .box .row-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .header .flex .row .box h3 {
        font-size: 1.8rem;
    }
    
    .header .flex .row .box .row-box li {
        margin-right: 1rem;
    }
    
    .header .flex .row .box .row-box li a {
        font-size: 1.5rem;
        color: black;
    }
    
    .header .flex .row .box .row-box li a:hover {
        color: var(--main-color);
    }
    
    .header .flex .row .box .row-box .language {
        position: relative;
    }
    
    .header .flex .row .box .row-box .language .language-box {
        position: absolute;
        z-index: 1000;
        top: 150%;
        left: -90%;
        background: #fff;
        padding: 1rem 2rem;
        border: var(--border);
        width: 200%;
        transform: scale(1, 0);
        transition: all .35s ease-in-out;
    }
    
    .header .flex .row .box .row-box .language:hover .language-box {
        transform: scale(1, 1);
    }
    
    .header .flex .row .box .row-box .language-box li {
        padding-bottom: 1rem;
        border-bottom: var(--border);
        margin-bottom: 1rem;
    }
    
    .header .flex .row .box .row-box .language-box li:nth-child(2) {
        border-bottom: none;
    }
    
    .header .flex .row .box .row-box .money {
        position: relative;
    }
    
    .header .flex .row .box .row-box .money .money-box {
        position: absolute;
        z-index: 1000;
        top: 150%;
        left: -90%;
        background: #fff;
        padding: 1rem 2rem;
        border: var(--border);
        width: 200%;
        transform: scale(1, 0);
        transition: all .35s ease-in-out;
    }
    
    .header .flex .row .box .row-box .money:hover .money-box {
        transform: scale(1, 1);
    }
    
    .header .flex .row .box .row-box .money .money-box li {
        padding-bottom: 1rem;
        border-bottom: var(--border);
        margin-bottom: 1rem;
    }
    
    .header .flex .row .box .row-box .money .money-box li a {
        text-transform: uppercase;
    }
    
    .header .flex .row .box .row-box .money .money-box li:nth-child(3) {
        border-bottom: none;
    }
    
    .header .flex .row .box .row-box .login {
        position: relative;
    }
    
    .header .flex .row .box .row-box .login .login-box {
        border: var(--border);
        padding: 1rem;
        position: absolute;
        top: 150%;
        left: -70%;
        z-index: 1000;
        transform: scale(1, 0);
        background-color: #fff;
    }
    
    .header .flex .row .box .row-box .login:hover .login-box {
        transform: scale(1, 1);
    }
    
    .header .flex .row .box .row-box .login .login-box form .input-box h3 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    
    .header .flex .row .box .row-box .login .login-box form .input-box input {
        padding: .5rem;
        margin-bottom: 1rem;
    }
    
    .header .flex .row .navbar {
        display: flex;
        align-items: center;
        padding-top: 2rem;
    }
    
    .header .flex .row .navbar li {
        margin-right: 2.5rem;
    }
    
    .header .flex .row .navbar li a {
        font-size: 1.8rem;
        color: rgb(44, 41, 41);
        padding-bottom: 2rem;
    }
    
    .header .flex .row .navbar li a:hover {
        color: var(--main-color);
    }
    
    .header .flex .row .navbar li a i {
        font-size: 1rem;
    }
    
    .header .flex .row .navbar .home {
        position: relative;
    }
    
    .header .flex .row .navbar .home .home-box {
        position: absolute;
        top: 180%;
        left: -15%;
        z-index: 1000;
        width: 350%;
        border: var(--border);
        padding: 1rem 1.5rem;
        transform: scale(1, 0);
        transition: all .35s ease-in-out;
        background-color: #fff;
        box-shadow: var(--box-shadow);
    }
    
    .header .flex .row .navbar .home:hover .home-box {
        transform: scale(1, 1);
    }
    
    .header .flex .row .navbar .home .home-box li {
        padding: 1rem;
    }
    
    .header .flex .row .navbar .home .home-box li a {
        font-size: 1.8rem;
    }
    
    .header .flex .row .navbar .home .home-box li a:hover {
        color: var(--main-color);
    }
    
    .header .flex .row .navbar .page {
        position: relative;
    }
    
    .header .flex .row .navbar .page .page-box {
        position: absolute;
        top: 180%;
        left: -45%;
        z-index: 1000;
        width: 350%;
        border: var(--border);
        padding: 1rem;
        background-color: #fff;
        transform: scale(1, 0);
        box-shadow: var(--box-shadow);
    }
    
    .header .flex .row .navbar .page:hover .page-box {
        transform: scale(1, 1);
    }
    
    .header .flex .row .navbar .page .page-box li {
        padding: 1rem;
    }
    
    .header .flex .row .navbar .page .page-box li a {
        font-size: 1.8rem;
    }
    
    .header .flex .row .navbar .page .page-box li a:hover {
        color: var(--main-color);
    }
    
    .header .flex .row .navbar .blog {
        position: relative;
    }
    
    .header .flex .row .navbar .blog .blog-box {
        position: absolute;
        top: 180%;
        left: -40%;
        z-index: 1000;
        width: 380%;
        border: var(--border);
        padding: 1rem;
        background-color: #fff;
        transform: scale(1, 0);
        box-shadow: var(--box-shadow);
    }
    
    .header .flex .row .navbar .blog:hover .blog-box {
        transform: scale(1, 1);
    }
    
    .header .flex .row .navbar .blog .blog-box li {
        padding: 1rem;
    }
    
    .header .flex .row .navbar .blog .blog-box li a {
        font-size: 1.8rem;
    }
    
    .header .flex .row .navbar .shop {
        position: relative;
    }
    
    .header .flex .row .navbar .shop .shop-box {
        position: absolute;
        top: 180%;
        left: -440%;
        width: 1450%;
        z-index: 1000;
        border: var(--border);
        background-color: #fff;
        display: flex;
        padding: 1.8rem;
        justify-content: space-between;
        gap: 1.8rem;
        box-shadow: var(--box-shadow);
        transform: scale(1, 0);
    }
    
    .header .flex .row .navbar .shop:hover .shop-box {
        transform: scale(1, 1);
    }
    
    .header .flex .row .navbar .shop .shop-box .box1 div {
        padding-bottom: 1rem;
    }
    
    .header .flex .row .navbar .shop .shop-box .box1 div h1 {
        font-size: 1.8rem;
        margin-bottom: 1rem;
        text-transform: uppercase;
        border-bottom: var(--border);
        padding-bottom: 1rem;
    }
    
    .header .flex .row .navbar .shop .shop-box .box1 div li {
        padding-bottom: 1rem;
    }
    
    .header .flex .row .navbar .shop .shop-box .box1 div li a {
        font-size: 1.6rem;
    }
    
    .header .flex .row .navbar .shop .shop-box .box2 .product-box a img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    
    .header .flex .row .navbar .shop .shop-box .box2 .product-box a {
        border: var(--border);
        margin-right: 1rem;
        padding: 1rem;
        height: 12rem;
        overflow: hidden;
        background-color: #fff;
    }
    
    .header .flex .row .navbar .shop .shop-box .box2 h1 {
        font-size: 1.8rem;
        padding-top: -1rem;
        margin-bottom: 1rem;
        text-transform: uppercase;
    }
    
    .header .flex .row .navbar .shop .shop-box .box2 .product-box {
        display: flex;
        margin-bottom: 2rem;
    }
    
    .header .flex .row .navbar .shop .shop-box .box2 .product-box .content h3 {
        font-size: 1.8rem;
        padding-bottom: 1rem;
    }
    
    .header .flex .row .navbar .shop .shop-box .box2 .product-box .content .star {
        padding-bottom: 1rem;
    }
    
    .header .flex .row .navbar .shop .shop-box .box2 .product-box .content .star i {
        font-size: 1rem;
        color: rgb(219, 175, 28);
        border-color: .1rem solid rgb(219, 175, 28);
    }
    
    .header .flex .row .navbar .shop .shop-box .box2 .product-box .content h2 {
        font-size: 2rem;
        font-weight: 800;
        color: black;
    }
    
    .header .flex .row .navbar .shop .shop-box .box2 .product-box .content .underline-text {
        text-decoration: line-through;
        color: rgb(190, 181, 181);
    }
    
    .header .flex .row .navbar .shop .shop-box a img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .header .flex .row .navbar .shop .shop-box a {
        width: 28%;
        overflow: hidden;
        position: relative;
    }
    
    .header .flex .row .navbar .shortcode {
        position: relative;
    }
    
    .header .flex .row .navbar .shortcode .shortcode-box {
        position: absolute;
        top: 180%;
        left: -330%;
        z-index: 1000;
        background-color: #fff;
        border: var(--border);
        display: flex;
        padding: 3rem;
        gap: 1rem;
        justify-content: space-between;
        width: 850%;
        box-shadow: var(--box-shadow);
        transform: scale(1, 0);
    }
    
    .header .flex .row .navbar .shortcode:hover .shortcode-box {
        transform: scale(1, 1);
    }
    
    .header .flex .row .navbar .shortcode .shortcode-box .boxs {
        display: inline-block;
    }
    
    .header .flex .row .navbar .shortcode .shortcode-box .boxs h1 {
        font-size: 1.7rem;
        margin-bottom: 2rem;
        padding-bottom: 1rem;
        border-bottom: var(--border);
    }
    
    .header .flex .row .navbar .shortcode .shortcode-box .boxs li {
        padding-bottom: 1.5rem;
    }
    
    .header .flex .row .navbar .shortcode .shortcode-box .boxs li a {
        font-size: 1.8rem;
    }
    
    .header .flex .row .navbar .theme {
        position: relative;
    }
    
    .header .flex .row .navbar .theme .theme-box {
        position: absolute;
        top: 180%;
        left: -400%;
        z-index: 1000;
        background-color: #fff;
        display: flex;
        border: var(--border);
        width: 700%;
        box-shadow: var(--box-shadow);
        justify-content: space-between;
        transform: scale(1, 0);
    }
    
    .header .flex .row .navbar .theme:hover .theme-box {
        transform: scale(1, 1);
    }
    
    .header .flex .row .navbar .theme .theme-box .boxs {
        display: inline-block;
        padding: 2rem;
    }
    
    .header .flex .row .navbar .theme .theme-box .boxs h1 {
        font-size: 1.8rem;
        padding-bottom: 1rem;
        margin-bottom: 2rem;
        border-bottom: var(--border);
    }
    
    .header .flex .row .navbar .theme .theme-box .boxs li {
        padding-bottom: 1.5rem;
    }
    
    .header .flex .row .navbar .theme .theme-box .image {
        width: 30%;
        overflow: hidden;
    }
    
    .header .flex .row .navbar .theme .theme-box .image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    /*-----------header section ends------------------*/
    /*-------categories section start-----------------*/
    
    .categories {
        background-color: #f1f1f1;
        padding: 0;
        width: 100%;
        margin: 0;
    }
    
    .categories .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #f1f1f1;
        width: 1200px;
        margin: 0 auto;
    }
    
    .categories .container .shop-box {
        background-color: black;
        padding: 2rem;
        cursor: pointer;
    }
    
    .categories .container .shop-box h3 {
        font-size: 1.8rem;
        color: #fff;
        padding: .5rem 2.7rem;
    }
    
    .categories .container .search-box {
        background-color: #fff;
        width: 60%;
        display: flex;
        align-items: center;
        height: 4.5rem;
    }
    
    .categories .container .search-box select {
        border: none;
        font-size: 1.7rem;
        width: 29%;
        margin-right: 1rem;
        border-right: var(--border);
        padding-right: 2rem;
        cursor: pointer;
        margin-left: 1rem;
    }
    
    .categories .container .search-box .input-box {
        width: 100%;
        height: 100%;
        position: relative;
    }
    
    .categories .container .search-box .input-box input {
        width: 100%;
        height: 100%;
        padding: 1rem;
        border: none;
        font-size: 1.5rem;
    }
    
    .categories .container .search-box .input-box input::placeholder {
        font-size: 1.5rem;
        font-style: italic;
    }
    
    .categories .container .search-box .input-box i {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 10;
        font-size: 2rem;
        cursor: pointer;
        height: 100%;
        background-color: var(--main-color);
        color: #Fff;
        width: 7%;
        text-align: center;
        padding-top: 1.2rem;
    }
    
    .categories .container .search-box .input-box i:hover {
        background-color: black;
    }
    
    .categories .container .item-box {
        display: flex;
        align-items: center;
        cursor: pointer;
        position: relative;
    }
    
    .categories .container .item-box i {
        font-size: 2rem;
        margin-right: 1rem;
        cursor: pointer;
    }
    
    .categories .container .item-box h3 {
        font-size: 1.8rem;
    }
    
    .categories .container .item-box h3 span {
        color: var(--main-color);
    }
    
    .categories .container .item-box .empty-box {
        position: absolute;
        top: 150%;
        z-index: 1000;
        background-color: #fff;
        box-shadow: var(--box-shadow);
        padding: 2rem 1rem;
        width: 180%;
        font-size: 1.8rem;
        transform: scale(1, 0);
        right: -5%;
    }
    
    .categories .container .item-box:hover .empty-box {
        transform: scale(1, 1);
    }
    /*------------categories section ends---------------*/
    /*-------------home section start-----------------*/
    
    .home {
        padding: 0;
    }
    
    .home .container {
        display: flex;
        gap: 1rem;
    }
    
    .home .container .navbar2 {
        background-color: #e4e3e3;
        width: 28.2%;
    }
    
    .home .container .navbar2 .navbar2-box li {
        border-bottom: .1rem solid rgb(121, 118, 118);
        align-items: center;
        cursor: pointer;
    }
    
    .home .container .navbar2 .navbar2-box li a {
        font-size: 1.5rem;
        color: black;
        display: flex;
        align-items: center;
        padding: 2rem .6rem;
    }
    
    .home .container .navbar2 .navbar2-box li a img {
        margin-right: 1rem;
    }
    
    .home .container .navbar2 .navbar2-box li a i {
        margin-left: 1rem;
    }
    
    .home .container .navbar2 .navbar2-box li:hover {
        background-color: #fff;
    }
    
    .home .container .navbar2 .navbar2-box li a:hover {
        color: var(--main-color);
    }
    
    .home .container .navbar2 .navbar2-box .apparel {
        position: relative;
    }
    
    .home .container .navbar2 .navbar2-box .apparel .apparel-box {
        position: absolute;
        top: 0;
        left: 100%;
        z-index: 1000;
        background-color: #Fff;
        width: 200%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        box-shadow: var(--box-shadow);
        padding: 1rem 3rem;
        gap: 2rem;
        transform: scale(1, 0);
    }
    
    .home .container .navbar2 .navbar2-box .apparel:hover .apparel-box {
        transform: scale(1, 1);
    }
    
    .home .container .navbar2 .navbar2-box .apparel .apparel-box .boxs h1 {
        font-size: 2rem;
        border-bottom: .1rem solid rgb(121, 118, 118);
        padding-bottom: 1rem;
    }
    
    .home .container .navbar2 .navbar2-box .apparel .apparel-box .boxs li {
        border: none;
    }
    
    .home .container .navbar2 .navbar2-box .apparel .apparel-box .boxs li a {
        padding: 1rem;
        font-size: 1.6rem;
    }
    
    .home .container .navbar2 .navbar2-box .jewelry {
        position: relative;
    }
    
    .home .container .navbar2 .navbar2-box .jewelry .jewelry-box {
        position: absolute;
        top: 0;
        left: 100%;
        z-index: 1000;
        display: flex;
        gap: 2rem;
        padding: 0 2rem;
        width: 300%;
        box-shadow: var(--box-shadow);
        background-image: url('image/model-demonstrating-earrings-ring_7502-7042.webp');
        background-position: right;
        background-repeat: no-repeat;
        background-size: cover;
        transform: scale(1, 0);
    }
    
    .home .container .navbar2 .navbar2-box .jewelry:hover .jewelry-box {
        transform: scale(1, 1);
    }
    
    .home .container .navbar2 .navbar2-box .jewelry .jewelry-box .box li {
        border: none;
    }
    
    .home .container .navbar2 .navbar2-box .jewelry .jewelry-box .box li:hover {
        background-color: transparent;
    }
    
    .home .container .navbar2 .navbar2-box .jewelry .jewelry-box .box li a {
        padding: 1rem 0;
        font-size: 1.8rem;
    }
    
    .home .container .navbar2 .navbar2-box .jewelry .jewelry-box .box h1 {
        font-size: 1.8rem;
        padding: 1rem 0;
        border-bottom: .1rem solid rgb(121, 118, 118);
    }
    
    .home .container .container-box {
        padding: 1.5rem 0;
        height: 30rem;
        width: 77.2%;
    }
    
    .home .container .container-box .box1 {
        display: flex;
    }
    
    .home .container .container-box .box1 .home1 {
        width: 80%;
        margin-right: 1rem;
        height: 40rem;
    }
    
    .home .container .container-box .box1 .home1 .slide .image {
        position: relative;
    }
    
    .home .container .container-box .box1 .home1 .slide .image img {
        width: 100%;
        height: 100%;
    }
    
    .home .container .container-box .box1 .home1 .slide .image .content {
        position: absolute;
        top: 15%;
        left: 10%;
        z-index: 10;
    }
    
    .home .container .container-box .box1 .home1 .slide .image .content h3 {
        font-size: 3rem;
        text-transform: uppercase;
        font-weight: 800;
    }
    
    .home .container .container-box .box1 .home1 .slide .image .content h1 {
        font-size: 4vw;
        color: var(--main-color);
    }
    
    .home .container .container-box .box1 .home1 .slide .image .content h2 {
        font-size: 2.5rem;
        padding-bottom: 1rem;
    }
    
    .home .container .container-box .box1 .home2 {
        width: 25%;
        height: 40rem;
        border: var(--border);
    }
    
    .home .container .container-box .box1 .home2 .slide {
        width: 100%;
        height: 100%;
    }
    
    .home .container .container-box .box1 .home2 .slide .image {
        position: relative;
    }
    
    .home .container .container-box .box1 .home2 .slide .image img {
        width: 100%;
        height: 25rem;
    }
    
    .home .container .container-box .box1 .home2 .slide .image .images {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transform: scale(0, 1);
    }
    
    .home .container .container-box .box1 .home2 .slide .image:hover .images {
        transform: scale(1, 1);
    }
    
    .home .container .container-box .box1 .home2 .slide .content {
        text-align: center;
        margin-top: 1rem;
        padding: 0 .4rem;
    }
    
    .home .container .container-box .box1 .home2 .slide .content h1 {
        font-size: 1.6rem;
        padding-bottom: 1rem;
    }
    
    .home .container .container-box .box1 .home2 .slide .content .star i {
        font-size: 1.5rem;
        padding-bottom: 1rem;
    }
    
    .home .container .container-box .box1 .home2 .slide .content h2 {
        font-size: 2rem;
        padding-bottom: 1rem;
    }
    
    .home .container .container-box .box1 .home2 .slide .content h2 span {
        font-size: 1.5rem;
        text-decoration: line-through;
        color: #c7b9b9;
    }
    
    .home .container .container-box .box1 .home2 .slide .content .btn {
        font-size: 1.8rem;
    }
    
    .home .container .container-box .box1 .home2 .slide .image .social-link {
        position: absolute;
        top: 10%;
        right: -20%;
        z-index: 100;
    }
    
    .home .container .container-box .box1 .home2 .slide .image:hover .social-link {
        right: 5%;
    }
    
    .home .container .container-box .box1 .home2 .slide .image .social-link li a {
        border: var(--border);
        font-size: 1.8rem;
        height: 3.5rem;
        width: 3.5rem;
        line-height: 3.5rem;
        text-align: center;
        color: black;
        background-color: #fff;
    }
    
    .home .container .container-box .box1 .home2 .slide .image .social-link li a:hover {
        background-color: var(--main-color);
        color: #fff;
    }
    
    .home .container .container-box .box1 .home2 .slide .image .social-link li {
        margin-bottom: .5rem;
    }
    
    .home .container .container-box .box2 {
        display: flex;
        gap: 2rem;
        align-items: center;
        text-align: center;
        height: 14.5rem;
        width: 100%;
        margin: 1rem 0;
    }
    
    .home .container .container-box .box2 .image1 {
        width: 30%;
        height: 14.5rem;
        overflow: hidden;
    }
    
    .home .container .container-box .box2 .image1 img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    
    .home .container .container-box .box2 .image1:hover img {
        transform: scale(1.1);
    }
    
    .home .container .container-box .box2 .image2 {
        width: 55%;
        height: 14.5rem;
        overflow: hidden;
    }
    
    .home .container .container-box .box2 .image2 img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    
    .home .container .container-box .box2 .image2:hover img {
        transform: scale(1.1);
    }
    
    .home .container .container-box .box2 .image3 {
        width: 30%;
        height: 14.5rem;
        overflow: hidden;
    }
    
    .home .container .container-box .box2 .image3 img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    
    .home .container .container-box .box2 .image3:hover img {
        transform: scale(1.1);
    }
    /*-----------home section ends------------------*/
    /*----------service section start--------*/
    
    .service .container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
        gap: 2rem;
        padding: 5rem 0;
    }
    
    .service .container .box {
        flex: 1 1 30rem;
        border: var(--border);
        display: flex;
        align-items: center;
        padding: 1rem;
    }
    
    .service .container .box a {
        font-size: 2.2rem;
        margin-right: 1rem;
        color: black;
    }
    
    .service .container .box a:hover {
        color: var(--main-color);
    }
    
    .service .container .box .content p {
        font-size: 1.2rem;
    }
    /*-----------service section ends----------*/
    /*-------------deal section start---------*/
    
    .deal .container {
        display: flex;
        align-items: center;
        gap: 2rem;
    }
    
    .deal .container .left-row {
        border: var(--border);
        width: 30%;
        border-bottom: transparent;
    }
    
    .deal .container .left-row h1 {
        font-size: 2.5rem;
        padding: 1.5rem;
        background-color: var(--main-color);
        color: #fff;
        font-weight: 800;
    }
    
    .deal .container .left-row .left-box a img {
        height: 15rem;
    }
    
    .deal .container .left-row .left-box {
        border-bottom: var(--border);
        display: flex;
        align-items: center;
        padding: 1.5rem;
    }
    
    .deal .container .left-row .left-box a {
        border: var(--border);
        margin-right: 1rem;
    }
    
    .deal .container .left-row .left-box .content h2 {
        font-size: 1.8rem;
    }
    
    .deal .container .left-row .left-box .content h2:hover {
        color: var(--main-color);
    }
    
    .deal .container .left-row .left-box .content .star {
        padding: 1rem 0;
        color: orange;
    }
    
    .deal .container .left-row .left-box .content p {
        font-size: 1.5rem;
    }
    
    .deal .container .left-row .left-box .content p span {
        text-decoration: line-through;
        font-size: 1.2rem;
    }
    
    .deal .container .right-row {
        width: 70%;
    }
    
    .deal .container .right-row .image {
        position: relative;
    }
    
    .deal .container .right-row .image img {
        width: 100%;
    }
    
    .deal .container .right-row .image .image-box {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transform: scale(0, 1);
    }
    
    .deal .container .right-row .image:hover .image-box {
        transform: scale(1, 1);
    }
    
    .deal .container .right-row .swiper-deal {
        margin-top: 2rem;
    }
    
    .deal .container .right-row .swiper-deal .slide .image {
        height: 30rem;
        overflow: hidden;
        border: var(--border);
    }
    
    .deal .container .right-row .swiper-deal .slide .image img {
        height: 100%;
        width: 100%;
    }
    
    .deal .container .right-row .swiper-deal .slide .image .social-link {
        position: absolute;
        top: 5%;
        right: -20%;
        z-index: 100;
    }
    
    .deal .container .right-row .swiper-deal .slide .image .social-link li {
        margin-bottom: 1rem;
    }
    
    .deal .container .right-row .swiper-deal .slide .image .social-link li a {
        height: 3.5rem;
        width: 3.5rem;
        line-height: 3.5rem;
        text-align: center;
        border: var(--border);
        font-size: 2rem;
        color: #5e5959;
        background: #fff;
    }
    
    .deal .container .right-row .swiper-deal .slide .image .social-link li a:hover {
        color: #fff;
        background-color: var(--main-color);
        border-color: var(--main-color);
    }
    
    .deal .container .right-row .swiper-deal .slide .image:hover .social-link {
        right: 8%;
    }
    
    .deal .container .right-row .swiper-deal .slide .content {
        text-align: center;
    }
    
    .deal .container .right-row .swiper-deal .slide .content h1 {
        font-size: 2rem;
        padding-top: 1rem;
    }
    
    .deal .container .right-row .swiper-deal .slide .content .star {
        padding: 1rem 0;
    }
    
    .deal .container .right-row .swiper-deal .slide .content .star i {
        color: orange;
        font-size: 1.2rem;
    }
    
    .deal .container .right-row .swiper-deal .slide .content h2 {
        font-size: 2.2rem;
        font-weight: 800;
    }
    /*----------deal section ends-----------*/
    /*----------offer section start----------------*/
    
    .offer .container {
        display: flex;
        align-items: center;
        gap: 2rem;
        height: 55rem;
    }
    
    .offer .container .left-box {
        width: 30%;
        height: 55rem;
        overflow: hidden;
    }
    
    .offer .container .left-box img {
        width: 100%;
        height: 100%;
    }
    
    .offer .container .left-box:hover img {
        transform: scale(1.1);
    }
    
    .offer .container .right-box {
        width: 70%;
        height: 55rem;
        overflow: hidden;
    }
    
    .offer .container .right-box .image a img {
        width: 100%;
        height: 100%;
    }
    
    .offer .container .right-box .image {
        margin-bottom: 2rem;
        overflow: hidden;
        position: relative;
    }
    
    .offer .container .right-box .image:hover a img {
        transform: scale(1.1);
    }
    
    .offer .container .right-box .image .content {
        position: absolute;
        top: 10%;
        left: 10%;
        z-index: 100;
    }
    
    .offer .container .right-box .image .content h1 {
        font-size: 4rem;
        width: 80%;
        font-weight: 800;
        color: #fff;
    }
    
    .offer .container .right-box .image .content p {
        font-size: 2rem;
        color: #fff;
        margin-bottom: 2rem;
    }
    
    .offer .container .right-box .image .content .btn {
        background-color: #fff;
        color: rgb(41, 153, 187);
        font-weight: 800;
        padding: .8rem 1rem;
    }
    
    .offer .container .right-box .image .content .btn:hover {
        color: #fff;
        background: black;
    }
    /*------------offer section ends---------------*/
    /*--------------news section start-------------*/
    
    .news .container {
        background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url('image/banner-furniture.jpg');
        background-size: cover;
        text-align: center;
        padding: 4rem 0;
    }
    
    .news .container h1 {
        font-size: 3.5rem;
        padding-bottom: 1rem;
        color: #fff;
    }
    
    .news .container p {
        font-size: 1.5rem;
        padding-bottom: 1rem;
        color: #fff;
    }
    
    .news .container .email-box {
        width: 60%;
        height: 4rem;
        position: relative;
        margin: 0 auto;
    }
    
    .news .container .email-box input {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 1rem;
        font-size: 1.7rem;
    }
    
    .news .container .email-box i {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 2rem;
        background: red;
        padding: 1rem;
        cursor: pointer;
        color: #fff;
        height: 4rem;
        width: 7%;
    }
    /*-----------news section ends-----------------*/
    /*----------brand section start----------------*/
    
    .brand {
        background-color: rgb(110, 109, 109);
        width: 100%;
    }
    
    .brand .brand-slide {
        text-align: center;
    }
    /*----------brand section ends-------------------*/
    /*----------footer section start--------------*/
    
    .footer {
        background: rgb(24, 23, 23);
        width: 100%;
        border-bottom: var(--border);
    }
    
    .footer .container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        gap: 2rem;
        margin: 0 auto;
        width: 1200px;
    }
    
    .footer .container .box h1 {
        font-size: 2.5rem;
        margin-bottom: 2rem;
        color: #fff;
    }
    
    .footer .container .box .content h2 {
        font-size: 2rem;
        color: #5e5959;
        margin-bottom: 1rem;
    }
    
    .footer .container .box .content h2 i {
        padding: 1rem;
        border: .1rem solid #5e5959;
    }
    
    .footer .container .box .link a {
        font-size: 1.8rem;
        height: 3.3rem;
        width: 3.3rem;
        line-height: 3.3rem;
        text-align: center;
        border: .1rem solid #5e5959;
        margin-right: 1rem;
        color: #fff;
    }
    
    .footer .container .box .link a:hover {
        background: rgb(65, 88, 208);
    }
    
    .footer .container .box .link a:hover:nth-child(3) {
        background: #0693e3;
    }
    
    .footer .container .box .link a:hover:nth-child(4) {
        background: #f78da7;
    }
    
    .footer .container .box li {
        margin-bottom: 1rem;
    }
    
    .footer .container .box li a {
        font-size: 1.8rem;
        color: #5e5959;
    }
    
    .footer .container .box li a:hover {
        color: #fff;
    }
    /*-------footer section ends----------------*/
    /*----------credit section start-------------*/
    
    .credit {
        background: rgb(24, 23, 23);
        width: 100%;
    }
    
    .credit .container {
        display: flex;
        text-align: center;
        justify-content: space-between;
        padding: 3rem 0;
        width: 1200px;
        margin: 0 auto;
    }
    
    .credit .container h1,
    .credit .container h1 a {
        font-size: 1.8rem;
        color: #5e5959;
    }
    
    .credit .container h1 a:hover {
        text-decoration: underline;
        color: #fff;
    }
    /*----------credit section ends---------------*/
    /*----------media queries-------------------*/
    
    @media(max-width:991px) {
        html {
            font-size: 55%;
        }
        section {
            padding: 1.5rem 1rem;
        }
    }
    
    @media(max-width:768px) {
        .header .flex .logo {
            padding: 2 1rem;
        }
    }
    
    @media(max-width:450px) {
        html {
            font-size: 55%;
        }
    }